.grid-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 1.5rem 3rem;
    background-color: var(--black);
}

.theme,
.context,
.tablist {
    background-color: var(--black);
}

.list-table {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--black);

}

@media only screen and (max-width: 1000px) {
    .list-table {
        width: 95%;
    }
}